.nav, .catnav, .footernav {
    font-family: "museo-sans",sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: minion-pro-display;
    font-size: 11px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 3.02px;
    line-height: 1.3em;
    text-align: center;
}

.nav-link, .catnav-link, .footernav-link {
    display: block;
    padding: 1.6em 2em;
    color: #000;
    opacity: 1 !important;
    text-decoration: none;
}

.primary-wrapper {
    width: calc(100% - 10%);
    width: -webkit-calc(100% - 10%);
    width: -moz-calc(100% - 10%);
    max-width: 1374px;
    margin: 0 auto;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* padding-inline-start: 40px; */
}

.nav-item, .catnav-item, .footernav-item {
    display: inline-block;
}